PORT=3000
ADMIN_JWT_SECRET=change-admin-secret
USER_JWT_SECRET=change-user-secret
ADMIN_JWT_EXPIRES_IN=1d
USER_JWT_EXPIRES_IN=30d

INITIAL_DEV_USERNAME=dev
INITIAL_DEV_PASSWORD=SounichiNaviDev2026!
INITIAL_DEV_EMAIL=

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=SounichiNaviAdmin2026!
INITIAL_ADMIN_EMAIL=
